---
layout: cv_selection
---

{% assign cv_headers = site.data.cv_headers %}
{% assign contact_info = site.data.contact_information %}
{% assign about = site.data.about %}
{% assign education = site.data.education %}
{% assign experience = site.data.experience %}

<h1>CV</h1>

<!–CONTACT INFORMATION–>
<h2>{{ cv_headers.contact_information[page.language] }}</h2>

{% assign contact_fields = "name,mail,phone,github" | split: ',' %}

{% for field in contact_fields %}
    {% if page.language == "english" %}
        <dd>{{ field }}</dd>
    {% else %}
        <dd>{{ contact_info[page.language][field] }}</dd>
    {% endif %}
    
    <dt>{{ contact_info.values[field] }}</dt>
{% endfor %}

<!–ABOUT–>
<h2>{{ cv_headers.about[page.language] }}</h2>
{{ about[page.language] }}

<!–EDUCATION–>
<h2>{{ cv_headers.education[page.language] }}</h2>

{% assign degrees = "bachelor_economics,master_economics,political_science" | split: ',' %}

<ul>
    {% for degree in degrees %}
        <li>
            <a>{{ education.degree[degree][page.language] }}</a>
            <ul>
                <li>{{ education.period[degree] }}</li>
                <li>{{ education.university[degree] }}</li>
                {% assign description = education.description[degree][page.language] %}
                {% if description.size > 0 %}
                  <li>{{ description }}</li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>

<!–EXPERIENCE–>
<h2>{{ cv_headers.experience[page.language] }}</h2>

{% assign employers = "sogeti,dehama" | split: ',' %}

<ul>
    {% for employer in employers %}
        <li>
            <a>{{ experience.job[employer][page.language] }}, {{ employer }}</a>
            <ul>
                <li>{{ experience.period[employer] }}</li>
                <li>{{ cv_headers.tasks[page.language] }}
                    <ul>
                        <!–MAIN TASKS–>
                        {% assign main_tasks = experience.tasks[employer][page.language] %}
                        {% for task in main_tasks %}
                            <li>{{ task }}</li>
                            
                            <!–SUBTASKS–>
                            {% assign subtasks = experience.subtasks[employer][page.language][task] %}
                            {% if subtasks.size > 0 %}
                                <ul>
                                    {% for subtask in subtasks %}
                                        <li>{{ subtask }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>

{{ content }}
