<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav>
        <ul>
            <li>
                <a>about</a>
            </li>
        </ul>
        <ul>
            <li>
                <a>cv</a>
                <ul>
                    <li>simplified</li>
                    <li>extended</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a>projects</a>
                <ul>
                    <li>marriage</li>
                    <li>penalty</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                <a></a>">blog</a>
            </li>
        </ul>
    </nav>
    
    {{ content }}
    
</body>

</html>