<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <nav>
        <!–create the first level for each part–>
        {% for part in site.data.site_parts %}
            <ul>
                <li>
                    <a> {{ part.name }} </a>
                        <ul>
                            <!–some parts are divided in subparts–>
                            {% case part.name %}
                                {% when "projects" %}
                                    {% for project in site.data.projects %}
                                        <li>
                                            <a> {{ project.name }} </a>
                                        </li>
                                    {% endfor %}
                                {% when "cv" %}
                                    {% assign versions = site.data.cv.versions| split: "," %}
                                    {% for version in versions %}
                                        <li>
                                            <a> {{ version }} </a>
                                        </li>
                                    {% endfor %}
                            {% endcase %}
                        </ul>
                </li>
            </ul>
        {% endfor %}
    </nav>
    
    {{ content }}
    
</body>

</html>